# The ID of your Google Cloud project.
PROJECT_ID=""

# The number of your Google Cloud project.
PROJECT_NUMBER=""

# The ID of the deployed Orchestrator Agent Engine.
ORCHESTRATOR_AGENT_ENGINE_ID=""

# The Google Cloud location for your resources (e.g., "us-central1").
GOOGLE_CLOUD_LOCATION="us-central1"

# A unique identifier for the user interacting with the frontend.
USER_ID="default-user"
